<div class="profile-container">
  <h1 class="profile-head">Settings - Update User Profile</h1>
  <br>
  <mat-card>
    <mat-card-content>
      <form [formGroup]="editUserForm" (ngSubmit)="updateProfile()">
        <div class="form-field-wrapper">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input
              matInput
              type="email"
              placeholder="Email"
              formControlName="email"
              required
            />
          <mat-error *ngIf="editUserForm.controls['email'].touched && editUserForm.controls['email'].hasError('required')">Email is <strong>required</strong></mat-error>
          <mat-error *ngIf="editUserForm.controls['email'].touched && editUserForm.controls['email'].hasError('email')">Please enter a valid email address</mat-error>
          </mat-form-field>
        </div>

        <div class="table-container">
          <table class="table-full-width" cellspacing="0">
            <tr>
              <td>
                <mat-form-field>
                  <mat-label>First Name</mat-label>
                  <input type="text" matInput placeholder="First Name" formControlName="givenName" required>
                  <mat-error
                    *ngIf="this.editUserForm.controls['givenName'].touched && this.editUserForm.controls['givenName'].hasError('required')">
                    First Name is required</mat-error>
                  </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Last Name</mat-label>
                  <input type="text" matInput placeholder="Last Name" formControlName="lastName" required>
                  <mat-error 
                    *ngIf="this.editUserForm.controls['lastName'].touched && this.editUserForm.controls['lastName'].hasError('required')">
                    Last Name is required</mat-error>                  
                </mat-form-field>
              </td>
            </tr>
          </table>
        </div>

        <div class="table-container">
          <table class="table-full-width" cellspacing="0"><tr>
            <td>
              <mat-form-field>
                <mat-label>Password</mat-label>          
                <input type="password" matInput placeholder="Password" formControlName="password" autocomplete="off" required>
                <mat-error
                  *ngIf="this.editUserForm.controls['password'].touched && this.editUserForm.controls['password'].hasError('required')">
                  Password is required</mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <mat-label>Password Confirmation</mat-label>          
                <input type="password" matInput placeholder="Password Confirmation" formControlName="passwordConfirm" autocomplete="off" required>
                <mat-error
                  *ngIf="this.editUserForm.controls['passwordConfirm'].touched && this.editUserForm.controls['passwordConfirm'].hasError('required')">
                  Password Confirmation is required</mat-error>   
                </mat-form-field>
            </td>
          </tr>
            <td colspan="2">
              <mat-error 
                *ngIf="passwordsNotMatching && (passwordConfirm?.dirty || passwordConfirm?.touched)">
                Passwords do not match!
              </mat-error>     
            </td>
          </table>
        </div>  

        <div class="form-field-wrapper">
          <mat-form-field>
            <mat-label>Mother's maiden name or any secret number to recover password</mat-label>
            <input
              matInput
              type="text"
              placeholder="Secret number"
              formControlName="secret"
              required
            />
            <mat-error *ngIf="editUserForm.controls['secret'].touched && editUserForm.controls['secret'].hasError('required')">Secret code is <strong>required</strong></mat-error>
          </mat-form-field>
        </div>

        <div class="form-field-wrapper">
          <mat-form-field>
            <mat-label>Mobile</mat-label>
            <input
              matInput
              type="tel"
              placeholder="Enter mobile number (e.g. 12345678)"
              formControlName="mobile"
              pattern="\d{4}\d{4}"
              required
            />
            <mat-error *ngIf="editUserForm.controls['mobile'].touched && editUserForm.controls['mobile'].hasError('required')">Mobile number is <strong>required</strong></mat-error>
            <mat-error *ngIf="editUserForm.controls['mobile'].touched && editUserForm.controls['mobile'].hasError('pattern')">Mobile number must be <strong>8 digits</strong> long (e.g. 12345678)</mat-error>
          </mat-form-field>
        </div>

        <div class="table-container">
          <table class="table-full-width" cellspacing="0">
            <tr>
              <td>
                <mat-checkbox formControlName="notifTelegram" color="green">Telegram Notification</mat-checkbox>
              </td>
              <td>
                <mat-checkbox formControlName="notifEmail" color="green">Email Notification</mat-checkbox>
              </td>
            </tr>
          </table>
        </div>
        <mat-checkbox formControlName="scanEmail" color="green"> Scan email for receipts</mat-checkbox>

        <div class="actions">
          <button
            mat-stroked-button
            color="primary"
            type="submit"
            [disabled]="!editUserForm.valid"
          >Update Profile</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
