@import "../../../theme";
@import '@angular/material/prebuilt-themes/indigo-pink.css';

:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.layout{
  display: flex;
  // flex: 1;
  // height: 100%;
  flex-direction: row;
}

.layout-menu {
  flex: 0 0 auto;
  width: 10%; 
  background-color: $secondary-background-color; 
  overflow-y: auto; 
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  // max-width: 50%;
  // max-height: 50%;
    width: 55px;
    height: 55px;  
// margin-left: auto;
// margin-right: auto;
}
.menu {
  display: flex;
  background-color: $secondary-background-color;
  flex-direction: column;
  // padding-left: 1rem;
  padding-top: 1rem; 
  justify-content: center;
  align-items: center;
}
.menu-item {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease; 
  width: 80px;
  height: 60px; 
}

.menu-item:hover {
  color: hsla(120, 82%, 41%, 0.973); 
  //color: $primary-color;
  //fill: $primary-color;
  transform: scale(1.2); 
}

.menu-item mat-icon {
    width: 36px;
    height: 36px;
    margin-bottom: 1px;
}

.menu-item div {
  margin-top: 1px; 
  text-align: center; 
  white-space: nowrap; 
}

.layout-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  background-color: $background-color; 
  // height: 100%;
  // width: 100%;
  // background-color: $background-color;
  // margin-top: 1px;
}

.selected {
  color: $primary-color;
  fill: $primary-color;
  font-weight: bold;
}

.mat-progress-bar {
  position: absolute;
}

mat-toolbar {
  display: flex; 
  justify-content: space-between;
  align-items: center; 
}

mat-toolbar .left {
  display: flex;
  align-items: center;
}

mat-toolbar .center {
  font-weight: bold;
  padding: 16px 0;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;  
  font-size: 18px;
}

mat-toolbar .right {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.rightbtn {
  display: flex; 
  align-items: center; 
}

.right:hover {
  color: hsla(120, 82%, 41%, 0.973); 
  transform: scale(1.2); 
  
}
.rightbtn mat-icon {
      width: 32px;
      height: 32px;    
//      transform: translateY(-5%) translateX(25px);
      transform:  translateX(25px);
}

#show-on-small-screen {
  display: none;
}
#show-on-big-screen {
  display: flex;
}

@media screen and (max-width: 768px) {
  .layout {
    display: flex;
        flex-direction: column-reverse;
  height: 100vh;
  }

  .layout-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
   // order: 2;
  }
  .menu {
    background-color: $secondary-background-color;
    flex-direction: row;
    height: 100%;
  }

  .layout-content {
    //order: 1;
    flex-grow: 1;
  }

  .menu-item {
    // flex: 0 0 auto;
    // padding-top: 5px;
    // padding-bottom: 5px;
    width: 65px;
    height: 50px; 
    margin: 2px;
  }

  .menu-item mat-icon {
    width: 27px;
    height: 27px;
    margin-bottom: 1px;
}

  #show-on-big-screen {
    display: none; 
  }
  #show-on-small-screen {
    display: block; 
  }

}
