<div class="layout">
  <div class="layout-menu">
    <span class="logo-container">
      <img id="show-on-big-screen" src="assets/pem.svg" alt="Logo">
    </span>
    <div class="menu">

      <!-- <div class="progress-bar">
        <mat-progress-bar
          mode="indeterminate"
          *ngIf="loadingRoute"
        ></mat-progress-bar>
      </div> -->
      <button mat-button class="menu-item" name="home" routerLink="dashboard">
        <mat-icon svgIcon="home"></mat-icon>
        <div>Home</div>
      </button> 
      <button mat-button class="menu-item" name="manual" routerLink="dashboard">
        <mat-icon svgIcon="manual"></mat-icon>
        <div>Manual</div>
      </button>
      <button mat-button id="show-on-small-screen" class="menu-item" name="camera" routerLink="dashboard">
        <mat-icon svgIcon="camera"></mat-icon>
        <div>Camera</div>
      </button>       
      <button mat-button class="menu-item" name="filesel" routerLink="expenses">
        <mat-icon svgIcon="file"></mat-icon>
        <div>Image</div>
      </button>
      <button mat-button class="menu-item" name="reports" routerLink="expenses">
        <mat-icon svgIcon="reports"></mat-icon>
        <div>Reports</div>
      </button>   
      <button mat-button class="menu-item" name="settings" routerLink="settings/account">
        <mat-icon svgIcon="settings"></mat-icon>
        <div>Settings</div>
      </button>
    </div>
  </div>

  <div class="layout-content">
    <mat-toolbar color="primary">
      <div class="left">{{ userEmail$ | async }}  </div>
      <!-- <period-selector *ngIf="selected !== 'settings'"></period-selector> -->
      
      <div class="center">
        <span id="show-on-big-screen">Personal Expenses Manager</span>
        <span id="show-on-small-screen">PEM</span>
      </div>

      <div class="right">
        <button mat-button class="rightbtn" name="logout" title="Logout" (click)="logout()">
          <mat-icon svgIcon="logout"></mat-icon>
        </button>
        <span id="show-on-big-screen" class="right btn" (click)="logout()">Logout</span>
      </div>    
    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>
</div>