<div class="layout">
  <div class="layout-menu">
    <span class="logo-container">
      <img id="show-on-big-screen" src="assets/pem.svg" alt="Logo">
    </span>
    <div class="menu">
      <button mat-button class="menu-item" name="home" routerLink="home">
        <mat-icon svgIcon="home"></mat-icon>
        <div>Home</div>
      </button> 
      <button mat-button class="menu-item" name="manual" routerLink="manual">
        <mat-icon svgIcon="manual"></mat-icon>
        <div>Manual</div>
      </button>
      <!-- <button mat-button id="show-on-small-screen" class="menu-item" name="camera" routerLink="camera"> -->
      <button mat-button class="menu-item" name="camera" routerLink="camera">
        <mat-icon svgIcon="camera"></mat-icon>
        <div>Camera</div>
      </button>       
      <button mat-button class="menu-item" name="filesel" routerLink="selectimage">
        <mat-icon svgIcon="file"></mat-icon>
        <div>Image</div>
      </button>
      <button mat-button class="menu-item" name="reports" routerLink="reports">
        <mat-icon svgIcon="reports"></mat-icon>
        <div>Reports</div>
      </button>   
      <button mat-button class="menu-item" name="settings" routerLink="settings">
        <mat-icon svgIcon="settings"></mat-icon>
        <div>Settings</div>
      </button>
    </div>
  </div>

  <div class="layout-content">
    <mat-toolbar color="primary">
      <div class="left">{{ userEmail$ | async }}  </div>
      
      <div class="center">
        <span id="show-on-big-screen">Personal Expense Manager</span>
        <span id="show-on-small-screen">PEM</span>
      </div>

      <div class="right">
        <button mat-button class="rightbtn" name="logout" title="Logout" (click)="logout()">
          <mat-icon svgIcon="logout"></mat-icon>
        </button>
        <span id="show-on-big-screen" class="right btn" (click)="logout()">Logout</span>
      </div>    
    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>
</div>