:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.login-container {
  text-align: center;
  width: 100%;
  max-width: 600px; /* Adjust as needed */
  padding: 20px;
  box-sizing: border-box;
  margin-top: 30px; /*30px;*/
}
img {
  max-width: 20%;
  max-height: 20%;
  display:block;
margin-left: auto;
margin-right: auto;
}
// .header-with-icon {
//   display: flex;
//   align-items: center;
// }

// .header-with-icon i {
//   margin-right: 10px; 
// }

.loginhead {
  margin-bottom: 20px;
  font-weight: bold;
  max-width: 400;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  // .header {
  //   margin-bottom: 15px;
  //   font-size: 1.5em;
  //   font-weight: bold;
  // }

  .table-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  }

  .table-full-width {
    width: 100%;

  }  
  
  .table-full-width td {
    padding-right: 4px;
  }

  .form-field-wrapper {
    width: 100%; 
    display: flex;
    justify-content: center; 
  }

  mat-form-field {
  width: 100%;
    // max-width: 300px;
    // margin-bottom: 8px;
  }

  .error-message {
  color: red;
  font-size: 14px;
  margin-top: -20px;
  }

  .recoverAction {
    width: 100%; /* Ensure the wrapper takes the full width */
    display: flex;
    justify-content: flex-end;
    margin-top: -8px;
    margin-bottom: 16px; /* Add space below the forgot password link */
    //max-width: 300px; /* Center align the forgot password link */
  }

  .actions {
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    
    button {
      // display: block;
      margin: 10px 0;
      width: 100%;
      max-width: 300px; 
      background-color: rgba(56, 53, 53, 0.2);
      font-size: 18px; /* Increase the font size */
      // padding: 15px; /* Increase the padding */
    }
  
    
    .login-separator {
      display: flex;
      align-items: center;
      width: 100%;
      max-width: 300px;
      position: relative;
      margin: 10px 0;
      
      span {
        background: white;
        padding: 0 10px;
        position: relative;
        z-index: 1;
        margin: 0 auto;
      }
      
      &::before {
        content: '';
        flex: 1;
        height: 1px;
        background: black;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: 0;
      }
    }
    div{
      width: 100%;
      max-width: 300px; 
    }
  }
}

@media screen and (max-width: 768px) {
  .table-container {
    flex-direction: column;
  }

  .table-container td {
    display: block;
    width: 100%;
  }
}
