<div class="login-container">
  <img src="assets/pem.svg" alt="Logo">
  <h1 class="loginhead">Personal Expense Manager</h1>
  <br>
  <mat-card>
    <mat-card-title>Sign up new account</mat-card-title>
    <mat-card-content>
      <form [formGroup]="signupForm" (ngSubmit)="signup()">
        <div class="form-field-wrapper">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            id="signup_email"
            placeholder="Email"
            autocomplete="off"
            formControlName="email"
            required
          />
          <mat-error *ngIf="signupForm.controls['email'].touched && signupForm.controls['email'].hasError('required')">Email is <strong>required</strong></mat-error>
          <mat-error *ngIf="signupForm.controls['email'].touched && signupForm.controls['email'].hasError('email')">Please enter a valid email address</mat-error>
        </mat-form-field>
      </div>

      <div class="table-container">
        <table class="table-full-width" cellspacing="0"><tr>
          <td>
            <mat-form-field>
              <mat-label>First Name</mat-label>
              <input type="text" matInput placeholder="First Name" formControlName="firstname" required>
              <mat-error
                *ngIf="this.signupForm.controls['firstname'].touched && this.signupForm.controls['firstname'].hasError('required')">
                First Name is required</mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Last Name</mat-label>          
              <input type="text" matInput placeholder="Last Name" formControlName="lastname" required>
              <mat-error 
                *ngIf="this.signupForm.controls['lastname'].touched && this.signupForm.controls['lastname'].hasError('required')">
                Last Name is required</mat-error>
            </mat-form-field>
          </td>
        </tr></table>
      </div>

      <div class="table-container">
        <table class="table-full-width" cellspacing="0"><tr>
          <td>
            <mat-form-field>
              <mat-label>Password</mat-label>          
              <input type="password" matInput placeholder="Password" formControlName="password" autocomplete="off" required>
              <mat-error
                *ngIf="this.signupForm.controls['password'].touched && this.signupForm.controls['password'].hasError('required')">
                Password is required</mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Password Confirmation</mat-label>          
              <input type="password" matInput placeholder="Password Confirmation" formControlName="passwordConfirm" autocomplete="off" required>
              <mat-error
                *ngIf="this.signupForm.controls['passwordConfirm'].touched && this.signupForm.controls['passwordConfirm'].hasError('required')">
                Password Confirmation is required</mat-error>   
              </mat-form-field>
          </td>
        </tr>
        <td colspan="2">
              <mat-error 
          *ngIf="passwordsNotMatching && (passwordConfirm?.dirty || passwordConfirm?.touched)">
              Passwords do not match!
          </mat-error>     
        </td>
      </table>
    </div>

      <div class="form-field-wrapper">
        <mat-form-field>
          <mat-label>Mother's maiden name or any secret number to recover password</mat-label>
          <input
            matInput
            type="text"
            placeholder="Secret number"
            autocomplete="off"
            formControlName="secret"
            required
          />
          <mat-error *ngIf="signupForm.controls['secret'].touched && signupForm.controls['secret'].hasError('required')">Secret code is <strong>required</strong></mat-error>
        </mat-form-field>
      </div>

      <div class="form-field-wrapper">
        <mat-form-field>
          <mat-label>Mobile</mat-label>
          <input
            matInput
            type="tel"
            placeholder="Enter mobile number (e.g. 12345678)"
            autocomplete="off"
            formControlName="mobile"
            pattern="\d{4}\d{4}"
            required
          />
          <mat-error *ngIf="signupForm.controls['mobile'].touched && signupForm.controls['mobile'].hasError('required')">Mobile number is <strong>required</strong></mat-error>
          <mat-error *ngIf="signupForm.controls['mobile'].touched && signupForm.controls['mobile'].hasError('pattern')">Mobile number must be <strong>8 digits</strong> long (e.g. 12345678)</mat-error>
        </mat-form-field>
      </div>
      <div class="table-container">
        <table class="table-full-width" cellspacing="0"><tr>
          <td>
            <mat-checkbox Name="ischktelegram" checked="true" color="green">Telegram Notification</mat-checkbox>  
          </td>
          <td>
            <mat-checkbox name="ischkemail" checked=true color="green">Email Notification</mat-checkbox>
          </td>
        </tr></table>
      </div>          
      <mat-checkbox name="ischkscanemail" checked=true color="green"> Scan email for receipts</mat-checkbox>

      <div class="actions">
        <button
          mat-stroked-button
          color="primary"
          type="submit"
          [disabled]="!signupForm.valid"
        >Sign up</button>
      </div>
    </form>
    </mat-card-content>
  </mat-card>
</div>